<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CSLSite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="service" connectionString="Data Source=cgdes12;Initial Catalog=csl_services;uid=aisv;pwd=aisv2012;Connection Timeout=3000" providerName="System.Data.SqlClient"/>
    <add name="catalogo" connectionString="Data Source=cgdes12;Initial Catalog=Portal_Servicios;Persist Security Info=True;User ID=aisv;Password=aisv2012;Connection Timeout=1200" providerName="System.Data.SqlClient"/>
    <add name="validar" connectionString="Data Source=cgdes12;Initial Catalog=Portal_Cgsa;Persist Security Info=True;User ID=aisv;Password=aisv2012;Connection Timeout=1200" providerName="System.Data.SqlClient"/>
    <add name="loger" connectionString="Data Source=cgdes12;Initial Catalog=Portal_LogAdmin;Persist Security Info=True;User ID=aisv;Password=aisv2012;Connection Timeout=1200" providerName="System.Data.SqlClient"/>
    <add name="n4catalog" connectionString="Data Source=cgdes11;Initial Catalog=N5;Persist Security Info=True;User ID=n4;Password=n4test" providerName="System.Data.SqlClient"/>
    <add name="N5" connectionString="Data Source=cgdes11;Initial Catalog=N5;Persist Security Info=True;User ID=n4;Password=n4test;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="midle" connectionString="Data Source=cgdes12;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="portalMaster" connectionString="Data Source=cgdes12;Initial Catalog=Portal_Master;Persist Security Info=True;User ID=aisv;Password=aisv2012;Connection Timeout=1200" providerName="System.Data.SqlClient"/>
    <add name="portalSca" connectionString="Data Source=cgdes12;Initial Catalog=Portal_Sca;Persist Security Info=True;User ID=aisv;Password=aisv2012;Connection Timeout=1200" providerName="System.Data.SqlClient"/>
    <add name="ecuapass" connectionString="Data Source=cgdes11;Initial Catalog=ecuapass;Persist Security Info=True;User ID=n4;Password=n4test;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="bdlog" connectionString="Data Source=cgdes11;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4test" />
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
    <add name="only" connectionString="Data Source=cgsql00;Initial Catalog=OnlyAccess;Persist Security Info=True;User ID=s3;Password=cgsas32016;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="sca" connectionString="Data Source=cgdes12;Initial Catalog=Portal_Sca;Persist Security Info=True;User ID=aisv;Password=aisv2012;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="onlyaccess" connectionString="Data Source=cgpre01\sqlserver2005;Initial Catalog=OnlyAccess;Persist Security Info=True;User ID=ocaccess;Password=ocaccess;Connection Timeout=120" providerName="System.Data.SqlClient"/>
    <add name="mda" connectionString="Data Source=cgpre01\sqlserver2005;Initial Catalog=MDA;Persist Security Info=True;User ID=ocaccess;Password=ocaccess;Connection Timeout=120" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="service" value="D:\csl"/>
    <add key="cliente" value="Se produjo un problema durante la transacción {0}{1} favor comunicar la los teléfonos 555-666, o escriba a -cgsa@cgsa.com- con el código de error. Muchas gracias por su paciencia"/>
    <add key="ikey" value="c0ntec0n"/>
    <add key="isalt" value="2014"/>
    <add key="ssl" value="0"/>
    <add key="userId" value="mid_csl"/>
    <add key="passw" value="123456"/>

    <add key="timeout" value="60"/>
    <add key="delay" value="2000"/>
    <add key="rutaArchivoAduana" value="\\cgdes13\AISV33\pdfSolicitud"/>
    <!--Carpeta en donde se va a guardar el PDF-->
    <add key="rutaArchivoIcono" value="\\cgdes13\AISV33\shared\imgs"/>
    <!--Carpeta en donde se va a guardar el icono para el menú-->
    <add key="subidaExcel" value="\\cgdes13\AISV33\excelSubida"/>
    <!--Carpeta en donde se va a guardar el excel, se borra inmediatamente-->
    <add key="tiempoMaximoSubida" value="22"/>
    <!--Horas máxima se subida para cerrojo electrónico-->
    <add key="numeroHorasMaxima" value="4"/>
    <!--Horas después de cutoff de Late Arrival-->
    <add key="grupos" value="B7,B8,ADU,PAN,CAE,VAN,IP,BAS,REP,STF,DEP,PTO,PTI,FAR,8G,BB"/>
    <add key="correoBackUp" value="contecon.s3@gmail.com"/>
    <add key="mails3" value="contecons3"/>
    <add key="STORE_PROC" value="1"/>
    <add key="DESARROLLO" value="1"/>
    <add key="DESCARGA" value="D:\CGSA\CSL\documentos" />


    <!--Nombre de los catálogos-->
    <add key="EstadoConfirmacion" value="Estados Confirmación"/>
    <add key="TipoTrafico" value="Tipo Tráfico"/>
    <add key="TipoCarga" value="Tipo Carga"/>
    <add key="TipoEstado" value="Tipo Estados"/>
    <add key="TipoCorreccion" value="Tipo Corrección"/>

    <!--Nombre de los grupos para solicitudes-->
    <add key="Repesaje" value="BAS"/>
    <add key="VerificacionSellos" value="SEL"/>
    <add key="InspeccionFisica" value="IFS"/>
    <add key="CerrojoElectronico" value="CRJ"/>
    <add key="Reestiba" value="RES"/>
    <add key="LateArrival" value="LA"/>
    <add key="EtiquetadoDesetiquetadoUn" value="EDU"/>

    <!--Seguridades LMOLINA-->
    <add key="catalogoTipoUsuarios" value="Tipo Usuarios"/>
    <add key="tipoAdministradorInterno" value="I"/>
    <add key="tipoAdministradorEmpresa" value="A"/>
    <add key="tipoAdministradorOperador" value="O"/>
    <add key="contadorMaximoIdentificacion" value="2"/>
    <add key="altoImagenIcono" value="35"/>
    <add key="anchoImagenIcono" value="34"/>
    <add key="codigoEcuador" value="ECU"/>

    <!--Solicitudes LMOLINA-->
    <add key="tipoCorreccionDaeExceso" value="DE"/>
    <add key="tipoCorreccionDaeAisv" value="DA"/>
    <add key="tipoCorreccionIntercambio" value="DI"/>
    <add key="estadoFinalizado" value="FI"/>
    <add key="estadoProceso" value="EP"/>
    <add key="CII" value="033"/>
    <add key="IIE" value="031"/>
    <add key="validarIIE" value="0"/>
    <add key="iva" value="12"/>
    <add key="longitudDae" value="17"/>
    <add key="correoListadoEmbarque" value="exponavios@cgsa.com.ec@cgsa.com.ec"/>
    <add key="enlaceRecuperacion" value="https://www.cgsa.com.ec/csl/recuperacioncliente"/>
    <add key="CostoN4" value="UnitFlexString04"/>

    <add key="Provider" value="SQLOLEDB" />
    <add key="Data Source" value="cgdes11" />
    <add key="Initial Catalog" value="N4Middleware" />
    <add key="User" value="n4" />
    <add key="Password" value="n4test" />
    <add key="userId" value="MID_SEGURIDAD" />
    <add key="passw" value="123456" />
    <add key="timeout" value="-1" />
    <add key="N4Service" value="http://172.16.2.6:10080/apex/services/argobasicservice"/>

    <!--Credenciales-->
    <add key="rutaserver" value="D:\CGSA\scaDocumentos\"/>

    <add key="CSLSite_OnlyControl_OnlyControlService" value="http://172.16.2.30:57575/OnlyControl/OnlyServiceWeb.asmx"/>
    <add key="CSLSite_GetFile_Service" value="http://172.16.2.30:8080/WebServiceTransferFile/Service.asmx"/>
    <add key="CSLSite_SI_Customer_Statement_NAVIS_CGSA_Ws_Sap_EstadoDeCuenta" value="http://172.16.2.30:57575/Ws_Sap_EstadoDeCuenta/Service.asmx"/>

    <add key="rutadocempcli" value="consulta-rechazo-solicitud-empresa"/>
    <add key="rutaactdatcli" value="actualizar-datos-empresa"/>
    <add key="rutaconfaccol" value="consultar-factura-colaborador"/>
    <add key="rutaconfacveh" value="consultar-factura-vehiculo"/>
    <add key="cargoopc" value="OPERADOR DE MONTACARGA"/>

    <!--<add key="usernet" value="rreyes"/>
    <add key="passnet" value="Contecon2017"/>-->

    <add key="ipservermail" value="192.168.0.25"/>
    <!--Credenciales-->
  </appSettings>

  <system.web>
    <!--Agregar al Web.config para que funcione el MSCaptcha-->
    <!--<httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>-->
    <!--Agregar al Web.config para que funcione el MSCaptcha-->
    <httpRuntime requestPathInvalidCharacters="&lt;,&gt;,*,%,&amp;,:,\,?"/>
    <compilation debug="true" targetFramework="4.0"  >
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms requireSSL="false" name="q23.lop.123" defaultUrl="~/csl/login" loginUrl="~/csl/login" timeout="18" path="/" protection="All"/>
    </authentication>
    <trace enabled="false"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <customErrors redirectMode="ResponseRewrite" defaultRedirect="~/site/error" mode="Off"/>
  </system.web>
  <system.webServer>
    <!--Agregar al Web.config para que funcione el MSCaptcha-->
    <!--<handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>-->
    <!--Agregar al Web.config para que funcione el MSCaptcha-->
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00"/>
    </staticContent>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <!--Agregar al Web.config para que funcione el MSCaptcha-->
    <!--<validation validateIntegratedModeConfiguration="false"/>-->
    <!--Agregar al Web.config para que funcione el MSCaptcha-->
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="mailserviceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="n4ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          useDefaultWebProxy="true" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.2.30:5020/WS_AISVJobs/mailservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="mailserviceSoap"
        contract="unitService.mailserviceSoap" name="mailserviceSoap" />
      <endpoint address="http://172.16.2.30:5020/wssmdt/n4Service.asmx"
        binding="basicHttpBinding" bindingConfiguration="n4ServiceSoap"
        contract="n4Service.n4ServiceSoap" name="n4ServiceSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <CSLSite.Properties.Settings>
      <setting name="CSLSite_GetFile_Service" serializeAs="String">
        <value>http://172.16.2.30:8080/WebServiceTransferFile/Service.asmx</value>
      </setting>
      <setting name="CSLSite_OnlyControl_OnlyControlService" serializeAs="String">
        <value>http://172.16.2.30:57575/OnlyControl/OnlyServiceWeb.asmx</value>
      </setting>
      <setting name="CSLSite_SI_Customer_Statement_NAVIS_CGSA_Ws_Sap_EstadoDeCuenta"
        serializeAs="String">
        <value>http://172.16.2.30:57575/Ws_Sap_EstadoDeCuenta/Service.asmx</value>
      </setting>
    </CSLSite.Properties.Settings>
  </applicationSettings>
</configuration>