i.icon {
    width: 18px;
    height: 18px;
    padding: 12px;
    background-position: center;
    background-repeat: no-repeat !important; /* This important is required because we need overwrite the styles of icons */
    background-size: contain;
}
i.eye {
    background: url('../img/eye-icon.svg');
}
i.lock {
    background: url('../img/lock-icon.svg');
}
i.user {
    background: url('../img/user-icon.svg');
}
i.notification {
    background: url('../img/notification.svg');
}
i.home {
    background: url('../img/house-menu-grey.svg');
}
i.boat {
    background: url('../img/boat-menu-grey.svg');
}
i.import {
    background: url('../img/import-menu-grey.svg');
}
i.export {
    background: url('../img/export-menu-grey.svg');
}
i.empty {
    background: url('../img/empty-menu-grey.svg');
}
i.financial {
    background: url('../img/financial-menu-grey.svg');
}
i.keys {
    background: url('../img/keys-menu-grey.svg');
}
i.kpi {
    background: url('../img/kpi-menu-grey.svg');
}
i.setup {
    background: url('../img/setup-menu-grey.svg');
}
i.headset {
    background: url('../img/headset-menu-grey.svg');
}
i.appcgsa {
    background: url('../img/app_cgsa2.svg');
}
i.p2d {
    background: url('../img/p2d_menu1.svg');
}