.contorno{ width:710px; 
           min-height:100px; 
           max-height:350px; 
           margin:0 auto; 
           padding:1px; 
           background-image:url(../imgs/bglistfull.png); 
           background-repeat:repeat-y; 
           background-color: #F1f1f1; 
           background-position:left center;
           
            margin-bottom:5px;
           }

div.cleft {  vertical-align: text-top; margin:1px; display: table-cell; width:194px; background-color: transparent; color:White; text-align:center; min-height:100px; padding:2px;}
div.cright  
{
    vertical-align:top; display:inline-block;
             min-height:100px; padding:2px; 
             background-color:transparent; width:80% 
             }

.content-opciones a { background-image:url(../imgs/next.gif); 
                      background-repeat:no-repeat; 
                      background-position:left 4px; 
                       margin-left:10px; 
                      text-decoration:none; 
                      color:Black; clear:both;  
                      display:block; 
                      text-decoration:none; color:blue;
                      padding-left:10px;
                      overflow:auto;
                      text-align:left;
                      margin-bottom:5px;
                      vertical-align:top!important;
                      }
                      
  .content-opciones a:hover { text-decoration:underline; }
 
 .content-opciones { vertical-align:top; display:table-cell; margin: 4px; padding:2px; width:320px; overflow:auto;}
 

 .p-descrip 
 {
             width:95%;  
             min-height:95px; 
             background-color:#FFFFE0;
             font-style:normal!important; 
             font-size:.8em; 
             font-style:italic; 
             text-align:left; 
             margin:0 auto; 
             padding: 2px 0px 0px 3px; 
             font-weight:normal!important;
             border-radius: 4px;
             overflow:auto;
             }
 .content-descripcion  
 {
     display:table-cell;  
     border:1px solid #CCC; 
     width:194px; 
     vertical-align:top; 
     font-style:italic;  
     font-weight:bold;
      overflow:hidden;
      border-radius: 4px;
      }
 
  .t-left{display:  inline-block;  text-align:left; margin:0 auto; padding:0; color:White;  font-weight:bold; font-size:1em;}
  .icono { width:30px; height:30px; display:  inline-block;}
  div.cleft table { width:100%; }
  div.cleft table td  {vertical-align:top;}
 



