<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="service" value="D:\LOG\CGWEB00\WS_AISVJobs\" />
    <add key="N4Service" value="http://192.168.0.96:9080/apex/services/argobasicservice" />
    <add key="userId" value="MID_CSL" />
    <add key="passw" value="123456" />
    <add key="timeout" value="-1" />
  </appSettings>
  <connectionStrings>
    <add name="service" connectionString="Data Source=cgwdb01;Initial Catalog=csl_services;Persist Security Info=True;User ID=aisv;Password=Ictsi2012!AS;Connection Timeout=0"
      providerName="System.Data.SqlClient" />
    <add name="catalogo" connectionString="Data Source=cgwdb01;Initial Catalog=Portal_Servicios;Persist Security Info=True;User ID=aisv;Password=Ictsi2012!AS;Connection Timeout=0"
      providerName="System.Data.SqlClient" />
    <add name="validar" connectionString="Data Source=cgwdb01;Initial Catalog=Portal_Cgsa;Persist Security Info=True;User ID=aisv;Password=Ictsi2012!AS;Connection Timeout=0"
      providerName="System.Data.SqlClient" />
    <add name="loger" connectionString="Data Source=cgwdb01;Initial Catalog=Portal_LogAdmin;Persist Security Info=True;User ID=aisv;Password=Ictsi2012!AS;Connection Timeout=0"
      providerName="System.Data.SqlClient" />
    <add name="N5" connectionString="Data Source=cgndb02;Initial Catalog=N5;Persist Security Info=True;User ID=n4;Password=n4prod;Connection Timeout=0"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="mailservice.asmx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>

