.pdiv { width:99%; margin:0 auto; padding:1px;
}
.print_table { 
    font-family:Arial; font-size:x-small; color:black; width:100%;
}

    .print_table th {
        border: 1px solid dotted;
        background-color: #F0f0f0;
        font-weight: bold;
        text-align: center;
    }

    .print_table td {
        border: 1px dotted black;
    }



.disponible {
    color: #28EF50;
    font-weight: bold;
}

.asignado {
    color: blue; font-weight:bold;
}
.ocultar {
    display:none; visibility:hidden;
}
.mostrar {
    margin:0; padding:1px;
}

.top { vertical-align:top;
}
.nodisponible {
    background-color:orangered; color:white; font-weight:bolder;
}


a.subirFile {
    display: inline-block;
    width: 40px;
    height: 15px;
    padding-left: 14px;
    background-image: url(../imgs/text.gif);
    background-position: left center;
    background-repeat: no-repeat;
}