<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="userId" value="MID_FACTURACION"/>
    <add key="passw" value="123456"/>
    <!--<add key="userId" value="admin"/>
    <add key="passw" value="rio40graus"/>-->
    <!--CGDES12-->
    <add key="N4Service" value="http://172.16.2.3:10080/apex/services/argobasicservice" />
    <!--CGDES12-->

    <!--CGDES11-->
    <!--<add key="N4Service" value="http://172.16.2.6:10080/apex/services/argobasicservice" />-->
    <!--CGDES11-->
    <!--<add key="N4Service" value="http://192.168.0.96:10080/apex/services/argobasicservice"/>-->
    <add key="timeout" value="-1"/>
    <add key="EvenCancelaPN" value="OTORG_INF_CERT_COP_PASES_PUERTA"/>
    <add key="EvenCancelaPNOthers" value="MANIPULEO_CNTRS_PASE_PUERTA"/>
    <add key="server_ip" value="192.168.0.49" />
    <add key="server_puerto" value="25" />
    <add key="server_User" value="edi" />
    <add key="server_Password" value="XqDIZV5OELlA9AKpPWBBMg==" />
    <add key="obtener_ip" value="172.16.40.23" />
  </appSettings>

  <connectionStrings>
    <add name="bdlog" connectionString="Data Source=cgdes12;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4test" />
    <add name="ClSPOLTOIS.Properties.Settings.N4MiddlewareConnectionString"
      connectionString="Data Source=cgdes12;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test; Connection Timeout=300; Pooling=false;"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.Portal_CgsaConnectionString"
      connectionString="Data Source=cgdes12;Initial Catalog=Portal_Cgsa;User ID=aisv;Password=aisv2012"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.bdlog" connectionString="Data Source=cgdes12;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.ecuapassConnectionString"
      connectionString="Data Source=cgdes12;Initial Catalog=ecuapass;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />
    <add name="connect" connectionString="Data Source=cgdes12;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test; " />
    <add name="ClSPOLTOIS.Properties.Settings.SysproCompanyCConnectionString"
      connectionString="Data Source=cgdes12;Initial Catalog=syspro_tois;Persist Security Info=True;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />
    <add name="WCFTOIS.Properties.Settings.bdlog" connectionString="Data Source=cgdes00;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="bdlog" connectionString="Data Source=cgndb05;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4test" />
    <add name="ClSPOLTOIS.Properties.Settings.N4MiddlewareConnectionString"
      connectionString="Data Source=cgndb05;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test; Connection Timeout=300; Pooling=false;"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.Portal_CgsaConnectionString"
      connectionString="Data Source=cgdes12;Initial Catalog=Portal_Cgsa;User ID=aisv;Password=aisv2012"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.bdlog" connectionString="Data Source=cgndb05;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.ecuapassConnectionString"
      connectionString="Data Source=cgndb05;Initial Catalog=ecuapass;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />
    <add name="connect" connectionString="Data Source=cgndb05;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test; " />
    <add name="ClSPOLTOIS.Properties.Settings.SysproCompanyCConnectionString"
      connectionString="Data Source=cgndb05;Initial Catalog=syspro_tois;Persist Security Info=True;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />
    <add name="WCFTOIS.Properties.Settings.bdlog" connectionString="Data Source=cgdes00;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4" />
  </connectionStrings>-->
  <!--200000000
     2147483647-->
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" executionTimeout="36000"/>
  </system.web>
  <system.net>
    <defaultProxy
      useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" allowCookies="true" maxBufferPoolSize="2147483647"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" />
        </binding>
        <binding name="eCasProcessSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="MargloEcasSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.nathaliaonline.com/app/ecasserver/eCasProcess.asmx"
        binding="basicHttpBinding" bindingConfiguration="eCasProcessSoap"
        contract="EikonEcas.eCasProcessSoap" name="eCasProcessSoap" />
      <endpoint address="http://extranet.marglobal.com/Ecas/MargloEcas.asmx"
        binding="basicHttpBinding" bindingConfiguration="MargloEcasSoap"
        contract="MarGlobal.MargloEcasSoap" name="MargloEcasSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFTOISBEHAIVOR" >
          <!-- Para evitar revelar información de los metadatos, establezca el valor siguiente en false y quite el extremo superior de los metadatos antes de la implementación -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFTOIS.WFCPASEPUERTA" behaviorConfiguration="WCFTOISBEHAIVOR">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/WFCPASEPUERTA"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="WCFTOIS.IWFCPASEPUERTA"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>