<?xml version="1.0"?>
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="ecuapassEntities" connectionString="metadata=res://*/AccesoDatos.ModeloEcuapass.csdl|res://*/AccesoDatos.ModeloEcuapass.ssdl|res://*/AccesoDatos.ModeloEcuapass.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgndb05;initial catalog=ecuapass;persist security info=True;user id=n4;password=n4test;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="N4MiddlewareEntities" connectionString="metadata=res://*/AccesoDatos.ModeloN4Middleware.csdl|res://*/AccesoDatos.ModeloN4Middleware.ssdl|res://*/AccesoDatos.ModeloN4Middleware.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cgndb05;initial catalog=N4Middleware;user id=n4;password=n4test;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>