      /*Fondo de la pantalla de atras*/
	.panel-reveal-modal
	{
	  
		/* visibility:hidden;*/
		top: 50px; 
		left:30%;
		width: 450px;
		height:500px;
		/*Ojo copiar la imagen*/
		background: #eee url('../imgs/modal-gloss.png') no-repeat -200px -80px;
		position: fixed;
		z-index: 1005;
		padding: 10px 20px 10px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		 border-radius: 8px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		 margin:0 auto;
		 overflow:auto;
	     -moz-border-radius: 10px;
        -webkit-border-radius: 10px ;
        -khtml-border-radius: 10px ;
         border-radius: 10px ;    
	    
	    }
	
	.reveal-modal-bg { 
		position: fixed; 
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0,0,0,.8);
		z-index: 1000;
		display: none;
		top: 0;
		left: 0; 
		cursor:progress;
		}
	/*Apariencia del DIV que es el modal..*/
	.reveal-modal 
	{
		visibility: hidden;
		top: 50px; 
		left:30%;
		width: 450px;
		height:400px;
		/*Ojo copiar la imagen*/
		background: #eee url('../imgs/modal-gloss.png') no-repeat -200px -80px;
		position: fixed;
		z-index: 1005;
		padding: 6px 10px 6px;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		 border-radius: 8px;
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		 margin:0 auto;
		 overflow:auto;
	     -moz-border-radius: 10px;
        -webkit-border-radius: 10px ;
        -khtml-border-radius: 10px ;
         border-radius: 10px ;     
		 
		}
		
		.inner-modal
		{
		     border:1px solid black;
		     padding:3px;
		     height:90%;
		    }
		    
		.inner-modal table { width:100%;}  
		.inner-modal table .valida{ color:Red; font-size:1em; width:100px; font-family:Consolas;}
		  
		.info{ text-align:right; padding:2px; color:Black;  font-weight:normal;  font-style:italic; width:150px; font-size:small;}
		    
	.modal-menu { margin:0 auto; padding:0; text-align:right; width:99%; background-color:gray;}
		    
		.modal-menu input { margin:0; padding:0; width:100px; height:25px;}    
	/*Apariencia de la ventana modal.*/	
	.reveal-modal .close-reveal-modal {cursor: pointer;} 
	.close-reveal-modal:hover{ }
	.display-errors{ color:Red; font-style:italic; text-align:center; width:98%; margin:0 auto; padding:0; font-size:small; margin:0; padding:0; text-decoration:none; list-style:none;}
p.salir { margin:0; padding:0; clear:both; background-image:url('../imgs/borra.png'); background-repeat:no-repeat; background-position:right center; }