<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="ClSPOLTOIS.Properties.Settings.SysproCompanyCConnectionString"
      connectionString="Data Source=CGERP01;Initial Catalog=syspro_tois;Persist Security Info=True;User ID=syspro_sp;Password=syspro_spprod"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.N4MiddlewareConnectionString"
      connectionString="Data Source=cgndb05;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test;Connection Timeout=0"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.Portal_CgsaConnectionString"
      connectionString="Data Source=CGWDB01;Initial Catalog=Portal_Cgsa;User ID=aisv_user;Password=usuario80"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.bdlog" connectionString="Data Source=cgndb05;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.ecuapassConnectionString"
      connectionString="Data Source=cgndb05;Initial Catalog=ecuapass;User ID=n4;Password=n4test"
      providerName="System.Data.SqlClient" />-->
    <add name="ClSPOLTOIS.Properties.Settings.SysproCompanyCConnectionString" connectionString="Data Source=cgdes12;Initial Catalog=syspro_tois;Persist Security Info=True;User ID=n4;Password=n4test" providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.N4MiddlewareConnectionString" connectionString="Data Source=cgdes12;Initial Catalog=N4Middleware;Persist Security Info=True;User ID=n4;Password=n4test;Connect Timeout=0" providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.Portal_CgsaConnectionString" connectionString="Data Source=cgdes12;Initial Catalog=Portal_Cgsa;User ID=aisv;Password=aisv2012" providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.bdlog" connectionString="Data Source=cgdes12;Initial Catalog=MiddlewareLog;Persist Security Info=True;User ID=n4;Password=n4test" providerName="System.Data.SqlClient" />
    <add name="ClSPOLTOIS.Properties.Settings.ecuapassConnectionString" connectionString="Data Source=cgdes12;Initial Catalog=ecuapass;User ID=n4;Password=n4test" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="userId" value="admin"/>
    <add key="passw" value="mundial2014"/>-->
    <!--<add key="userId" value="MID_FACTURACION"/>
    <add key="passw" value="123456"/>-->
    <add key="timeout" value="-1" />
    <!--add key="N4Service" value="http://192.168.0.96:10080/apex/services/argobasicservice"/>-->
    <add key="N4Service" value="http://172.16.2.3:9080/apex/services/argobasicservice" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>